<!-- web_app/templates/layout.html -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>My Starter Web App | Helps students learn how to use the Flask Python package.</title>
    {% endblock %}


    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bulma.css') }}" media="all"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

<!-- SITE NAVIGATION -->
<div class="container">
    <h1 class="title"><a href="/">My Web App</a></h1>
    <nav>
        <div>
            {% block nav %}
                <div class="navbar">
                    <div class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="/books">Books Page</a>
                            <a class="navbar-item" href="/books/new">New Book Form</a>
                            <a class="navbar-item" href="/users">Users</a>
                        </div>
                    </div>
                </div>
            {% endblock %}

        </div>
    </nav>


    <hr>

    <!-- PAGE CONTENTS -->
    <div id="content" class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- FOOTER -->
    <div id="footer">
        <hr>
        &copy; Copyright 2020 [Erik Seguinte] |
        <a href="https://github.com/erikseguinte/">source</a>
    </div>
</div>

</body>
</html>