<!-- web_app/templates/layout.html -->

<!doctype html>
<html>
<head>
    {% block title %}
    <title>My Starter Web App | Helps students learn how to use the Flask Python package.</title>
    {% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/kickstart.js')}}"></script> <!-- KICKSTART -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/kickstart.css')}}" media="all"/> <!-- KICKSTART -->
</head>

<body>

<!-- SITE NAVIGATION -->
<div class="container">
    <h1><a href="/">My Web App</a></h1>
        <nav>
            <div >
                {% block nav %}
                <ul class="menu">
                    <li><a href="/books">Books Page</a></li>
                    <li><a href="/books/new">New Book Form</a></li>
                </ul>
                {% endblock %}

            </div>
        </nav>


        <hr>

        <!-- PAGE CONTENTS -->
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <!-- FOOTER -->
        <div id="footer">
            <hr>
            &copy; Copyright 2020 [Erik Seguinte] |
            <a href="https://github.com/erikseguinte/">source</a>
        </div>
</div>

</body>
</html>