{% extends "layout.html" %}

{% block subtitle %}
    <h3 class="subtitle">Prediction Form</h3>
{% endblock %}

{% block content %}

    <div class="section">
        <form action="/predict" method="post">

            <p> Who's more likely to say "bye", The Backstreet Boys or NSYNC? Wanna find out? Take 2 users, analyze
                their last 150 tweets, and determine who is more likely to say a thing. It's a Tweet-off!</p>


            <div class="field">
                <label class="label">User 1</label>
                <div class="control">
                    <select type="select" class="select" name="user_1">
                        {% for user in users -%}
                            <option value="{{ user }}">{{ user }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>

            <div class="field">
                <label class="label">User 2</label>
                <div class="control">
                    <select type="select" class="select" name="user_2">
                        {% for user in users -%}
                            <option value="{{ user }}">{{ user }}</option>
                        {%- endfor %}
                    </select>
                </div>
            </div>

            <div class="field">
                <label class="label">text</label>
                <div class="control">
                    <input type="text" class="text" name="text">
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>



{% endblock %}

