{% extends "layout.html" %}

{% block subtitle %}
    <h3 class="subtitle">Admin</h3>
{% endblock %}

{% block content %}
    <div class="section">

        <form action="/admin/db/reset" method="post" >
            <div class="field">
                <label class="label" for="username"> Username <span class="tag">case insensitive</span> </label>
                <div class="control">
                    <input class="input" type="text" name="username">
                </div>
            </div>
            <div class="field">
                <label class="label" for="api_key"> api key <span class="tag is-warning">case sensitive</span>   </label>
                <div class="control">
                    <input class="input" type="text" name="api_key">
                </div>
            </div>
            <div class="control">
                <button class="button is-danger">RESET</button>
            </div>
        </form>
    </div>

{% endblock %}
