{% extends "layout.html" %}
{% block title %} <title>Tweet-Off: Add User</title> {% endblock title %}

{% block subtitle %}
    <h3 class="subtitle">Add User form</h3>
{% endblock %}

{% block content %}

    <div class="section">
        <form action="/user" method="post">


            <div class="field">
                <label class="label">User to add. This can take a few minutes.</label>
                <div class="control">
                    <input type="text" class="text" name="user">
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>



{% endblock %}

